@import url(https://fonts.googleapis.com/css?family=Orbitron:regular,500&display=swap);
@import url(https://fonts.googleapis.com/css?family=Exo+2:regular&display=swap);
@font-face {
  font-family: icons;
  font-display: swap;
  src: url(../fonts/icons.woff2) format("woff2");
  font-weight: 400;
  font-style: normal
}
[class*=_icon-]::before {
  font-family: icons;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
._icon-discord:before {
  content: ""
}
._icon-phone:before {
  content: ""
}
._icon-internet:before {
  content: ""
}
._icon-mail:before {
  content: ""
}
._icon-telegram:before {
  content: ""
}
._icon-github:before {
  content: ""
}
._icon-linkedin:before {
  content: ""
}
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #000;
  line-height: 1;
  font-family: Orbitron;
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: Orbitron;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: rgba(0,0,0,0)
}
input,
textarea {
  width: 100%
}
label {
  display: inline-block
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
body {
  background: url(../img/bg.webp) 0 0/21.875rem
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.loaded body {
  opacity: 1;
  transition: opacity .5s
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper>main {
  flex: 1 1 auto
}
.wrapper>* {
  min-width: 0
}
[class*=__container] {
  max-width: 81.25rem;
  margin: 0 auto;
  padding: 0 .9375rem
}
[class*="--gc"] {
  display: grid;
  min-width: 0;
  grid-template-columns: .9375rem 1fr minmax(auto,79.375rem) 1fr .9375rem
}
[class*="--gc"]>* {
  min-width: 0;
  grid-column: 3/4
}
.icon-menu {
  display: none
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.title {
  display: inline-block;
  font-weight: 500;
  line-height: 1.2;
  padding: .625rem 1.875rem;
  border: .125rem solid #000;
  border-radius: 1.25rem;
  background-color: #fff;
  text-transform: capitalize
}
.item-portfolio {
  background-color: #92d6e3;
  padding: 1.25rem;
  border: .125rem solid #000;
  border-radius: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 1.5625rem
}
.item-portfolio__image {
  aspect-ratio: 364/298;
  overflow: hidden;
  border-radius: .9375rem .9375rem 0 0;
  border: .125rem solid #000;
  background-color: #000
}
.item-portfolio__image:focus-visible {
  outline: 0;
  box-shadow: 0 0 .4375rem #000
}
.item-portfolio__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s,-webkit-transform .3s;
  will-change: transform
}
.item-portfolio__name {
  flex-grow: 1;
  align-self: flex-start;
  font-size: 2rem;
  display: flex;
  gap: .9375rem;
  font-family: Exo2;
  text-transform: capitalize;
  line-height: 1.2;
  transition: color .3s
}
.item-portfolio__name:focus-visible {
  outline: 0;
  box-shadow: 0 0 .4375rem #000
}
.item-portfolio__name::before {
  flex-shrink: 0;
  font-size: 1.625rem;
  align-self: flex-start;
  margin-top: .375rem
}
.item-portfolio__repository {
  align-self: flex-start;
  font-size: 1.5rem;
  display: flex;
  gap: .9375rem;
  align-items: center;
  text-transform: lowercase;
  transition: color .3s
}
.item-portfolio__repository:focus-visible {
  outline: 0;
  box-shadow: 0 0 .4375rem #000
}
.item-portfolio__repository::before {
  flex-shrink: 0;
  font-size: 1.625rem
}
.header {
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  width: 100%;
  color: #000;
  background-color: #92d6e3;
  border-bottom: .125rem solid #000;
  padding-block: 1.5625rem;
  transition: padding-block .3s
}
.header._header-scroll {
  padding-block: .9375rem
}
.header__container {
  display: flex;
  align-items: center;
  gap: 2.5rem;
  justify-content: space-between
}
.header__logo {
  position: relative;
  z-index: 2;
  font-family: Exo2;
  text-transform: uppercase;
  font-size: 1.75rem;
  font-weight: 500;
  padding: .3125rem;
  border: .125rem solid #000
}
.header__logo:focus-visible {
  outline: 0;
  box-shadow: 0 0 .4375rem #000
}
.menu {
  display: flex;
  align-items: center
}
.menu__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  -webkit-column-gap: 2.5rem;
  -moz-column-gap: 2.5rem;
  column-gap: 2.5rem;
  row-gap: .625rem
}
.menu__link {
  position: relative;
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 1.2;
  padding-bottom: .125rem
}
.menu__link:focus-visible {
  outline: 0;
  box-shadow: 0 0 .4375rem #000
}
.footer {
  padding-block: 1.125rem;
  background-color: #92d6e3;
  border-top: .125rem solid #000
}
.footer__container {
  text-align: center
}
.footer__copy {
  line-height: 1.3
}
.hero__container {
  display: flex;
  align-items: center;
  gap: 3.125rem;
  justify-content: space-between
}
.hero__image {
  border-radius: 50%;
  overflow: hidden;
  border: .125rem solid #000
}
.hero__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain
}
.content-hero {
  background-color: #92d6e3;
  padding: 1.5625rem;
  border-radius: 2.5rem;
  border: .125rem solid #000
}
.content-hero__title {
  font-weight: 500;
  line-height: 1.3
}
.content-hero__text {
  line-height: 1.5
}
.content-hero__text p:not(:last-child) {
  margin-bottom: .625rem
}
.content-hero__button {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.125rem;
  padding: .625rem 1.875rem;
  border: .125rem solid #000;
  border-radius: .625rem;
  background-color: #fff;
  transition: color .3s,background-color .3s
}
.content-hero__button:focus-visible {
  outline: 0;
  box-shadow: 0 0 .4375rem #000
}
.content-hero>*:last-child {
  margin-bottom: 0
}
.about__title {
  text-align: center
}
.about__title:not(:last-child) {
  margin-bottom: 1.875rem
}
.about__text {
  background-color: #92d6e3;
  border: .125rem solid #000;
  padding: 1.5625rem;
  border-radius: 2.5rem;
  max-width: 71.875rem;
  margin: 0 auto;
  font-family: Exo2;
  text-align: center;
  line-height: 1.4
}
.about__text p:not(:last-child) {
  margin-bottom: .625rem
}
.about__text span {
  color: #0017e9
}
.portfolio__title {
  text-align: center
}
.portfolio__title:not(:last-child) {
  margin-bottom: 1.875rem
}
.portfolio__items {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 2.1875rem
}
.contacts__title {
  text-align: center
}
.contacts__title:not(:last-child) {
  margin-bottom: 1.875rem
}
.contacts__items {
  background-color: #92d6e3;
  max-width: 37.5rem;
  margin: 0 auto;
  padding: 1.875rem .625rem 1.25rem .625rem;
  border: .125rem solid #000;
  border-radius: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: .9375rem;
  align-items: center;
  justify-content: center
}
.contacts__item {
  font-weight: 500;
  line-height: 1.5;
  display: flex;
  align-items: center;
  gap: .75rem;
  font-size: 1.125rem;
  -webkit-padding-after: .625rem;
  padding-block-end: .625rem;
  transition: color .3s
}
.contacts__item:not(:last-child) {
  border-bottom: .0625rem solid #000
}
.contacts__item::before {
  font-size: 1.5625rem;
  flex-shrink: 0
}
.contacts__item:focus-visible {
  outline: 0;
  box-shadow: 0 0 .4375rem #000
}
@media (min-width:81.25em) {
  .title {
    font-size: 2.125rem
  }
  .page__hero {
    -webkit-padding-before: 11.25rem;
    padding-block-start: 11.25rem
  }
  .page__hero {
    -webkit-padding-after: 3.125rem;
    padding-block-end: 3.125rem
  }
  .page__about {
    padding-block: 3.125rem
  }
  .page__portfolio {
    padding-block: 3.125rem
  }
  .page__contacts {
    -webkit-padding-before: 3.125rem;
    padding-block-start: 3.125rem
  }
  .page__contacts {
    -webkit-padding-after: 5rem;
    padding-block-end: 5rem
  }
  .hero__image {
    margin-left: 2.5rem
  }
  .content-hero>* {
    margin-bottom: 2.5rem
  }
  .content-hero__title {
    font-size: 2.25rem
  }
  .content-hero__text {
    font-size: 1.5625rem
  }
  .about__text {
    font-size: 1.5rem
  }
}
@media (min-width:48em) {
  .menu__link::after {
    position: absolute;
    content: "";
    top: 100%;
    left: 0;
    width: 0;
    height: .125rem;
    background-color: #000;
    transition: width .3s
  }
}
@media (min-width:48em)and (any-hover:hover) {
  .menu__link:hover::after {
    width: 100%
  }
}
@media (min-width:62em) {
  .hero__image {
    flex: 0 1 28.125rem
  }
  .hero__content {
    flex: 0 1 43.75rem
  }
}
@media (max-width:62em) {
  .page__hero {
    -webkit-padding-before: 8.125rem;
    padding-block-start: 8.125rem
  }
  .content-hero>* {
    margin-bottom: 1.5625rem
  }
  .content-hero__title {
    font-size: 1.75rem
  }
  .content-hero__text {
    font-size: 1.25rem
  }
}
@media (max-width:20em) {
  .title {
    font-size: 1.75rem
  }
  .page__hero {
    -webkit-padding-after: 1.5625rem;
    padding-block-end: 1.5625rem
  }
  .page__about {
    padding-block: 1.5625rem
  }
  .page__portfolio {
    padding-block: 1.5625rem
  }
  .page__contacts {
    -webkit-padding-before: 1.5625rem;
    padding-block-start: 1.5625rem
  }
  .page__contacts {
    -webkit-padding-after: 2.1875rem;
    padding-block-end: 2.1875rem
  }
  .about__text {
    font-size: 1.125rem
  }
}
@media (max-width:81.25em) {
  .portfolio__items {
    gap: 1.25rem
  }
}
@media (max-width:61.99875em) {
  .header {
    padding-block: .9375rem
  }
  .hero__container {
    flex-direction: column-reverse
  }
  .hero__image {
    max-width: 28.125rem
  }
  .hero__content {
    text-align: center
  }
  .portfolio__items {
    grid-template-columns: repeat(2,1fr)
  }
}
@media (max-width:47.99875em) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    left: -100%;
    top: 0;
    overflow: auto;
    padding: 6.875rem .9375rem 1.875rem .9375rem;
    transition: left .3s;
    background-color: #fff
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 4.5625rem;
    border-bottom: .125rem solid #000;
    left: -100%;
    top: 0;
    background-color: #92d6e3;
    transition: left .3s;
    z-index: 2
  }
  .menu-open .menu__body {
    left: 0
  }
  .menu-open .menu__body::before {
    left: 0
  }
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5
  }
  .icon-menu span,
  .icon-menu::after,
  .icon-menu::before {
    content: "";
    transition: all .3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: .125rem;
    background-color: #000
  }
  .icon-menu::before {
    top: 0
  }
  .icon-menu::after {
    bottom: 0
  }
  .icon-menu span {
    top: calc(50% - .0625rem)
  }
  .menu-open .icon-menu span {
    width: 0
  }
  .menu-open .icon-menu::before {
    top: calc(50% - .0625rem);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - .0625rem);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
  }
  .item-portfolio {
    gap: .9375rem;
    padding: .9375rem
  }
  .item-portfolio__name {
    font-size: 1.625rem
  }
  .item-portfolio__name::before {
    margin-top: .15625rem
  }
  .item-portfolio__repository {
    font-size: 1.25rem
  }
  .menu__list {
    flex-direction: column;
    gap: 1.5625rem
  }
  .menu__link {
    font-size: 1.875rem
  }
  .page__hero {
    -webkit-padding-before: 6.25rem;
    padding-block-start: 6.25rem
  }
  .hero__container {
    gap: 2.1875rem
  }
  .content-hero {
    padding: .9375rem .625rem;
    border-radius: 1.25rem
  }
  .content-hero>* {
    margin-bottom: 1.25rem
  }
  .content-hero__title {
    font-size: 1.5rem
  }
  .content-hero__text {
    font-size: 1.125rem
  }
  .about__title:not(:last-child) {
    margin-bottom: 1.25rem
  }
  .about__text {
    border-radius: 1.25rem;
    padding: .9375rem .625rem
  }
  .portfolio__items {
    gap: .75rem
  }
  .contacts__title:not(:last-child) {
    margin-bottom: 1.25rem
  }
  .contacts__items {
    border-radius: 1.25rem;
    padding: 1.25rem .625rem .625rem .625rem
  }
}
@media (max-width:47.99875em)and (any-hover:none) {
  .icon-menu {
    cursor: default
  }
}
@media (max-width:36.24875em) {
  .portfolio__title:not(:last-child) {
    margin-bottom: 1.25rem
  }
  .portfolio__items {
    grid-template-columns: 1fr
  }
}
@media (max-width:29.99875em) {
  .footer__copy {
    font-size: .875rem
  }
}
@media (max-width:23.74875em) {
  .contacts__item {
    font-size: .9375rem;
    gap: .375rem
  }
}
@media (min-width:20em)and (max-width:81.25em) {
  .title {
    font-size: clamp(1.75rem ,1.6275510204rem + .612244898vw ,2.125rem)
  }
  .page__hero {
    -webkit-padding-after: clamp(1.5625rem ,1.0522959184rem + 2.5510204082vw ,3.125rem);
    padding-block-end: clamp(1.5625rem ,1.0522959184rem + 2.5510204082vw ,3.125rem)
  }
  .page__about {
    padding-block: clamp(1.5625rem ,1.0522959184rem + 2.5510204082vw ,3.125rem)
  }
  .page__portfolio {
    padding-block: clamp(1.5625rem ,1.0522959184rem + 2.5510204082vw ,3.125rem)
  }
  .page__contacts {
    -webkit-padding-before: clamp(1.5625rem ,1.0522959184rem + 2.5510204082vw ,3.125rem);
    padding-block-start: clamp(1.5625rem ,1.0522959184rem + 2.5510204082vw ,3.125rem)
  }
  .page__contacts {
    -webkit-padding-after: clamp(2.1875rem ,1.2691326531rem + 4.5918367347vw ,5rem);
    padding-block-end: clamp(2.1875rem ,1.2691326531rem + 4.5918367347vw ,5rem)
  }
  .about__text {
    font-size: clamp(1.125rem ,1.0025510204rem + .612244898vw ,1.5rem)
  }
}
@media (min-width:62em)and (max-width:81.25em) {
  .page__hero {
    -webkit-padding-before: clamp(8.125rem ,-1.9399350649rem + 16.2337662338vw ,11.25rem);
    padding-block-start: clamp(8.125rem ,-1.9399350649rem + 16.2337662338vw ,11.25rem)
  }
  .content-hero>* {
    margin-bottom: clamp(1.5625rem ,-1.4569805195rem + 4.8701298701vw ,2.5rem)
  }
  .content-hero__title {
    font-size: clamp(1.75rem ,.1396103896rem + 2.5974025974vw ,2.25rem)
  }
  .content-hero__text {
    font-size: clamp(1.25rem ,.2435064935rem + 1.6233766234vw ,1.5625rem)
  }
}
@media (any-hover:hover) {
  .item-portfolio__image:hover img {
    -webkit-transform: scale(1.04);
    transform: scale(1.04)
  }
  .item-portfolio__name:hover {
    color: #0017e9
  }
  .item-portfolio__repository:hover {
    color: #0017e9
  }
  .content-hero__button:hover {
    background-color: #000;
    color: #fff
  }
  .contacts__item:hover {
    color: #0017e9
  }
}